* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parallax {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

.img1 {
    background-image: url('https://img.freepik.com/free-photo/green-park-view_1417-1492.jpg');
}

.img2 {
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMDktYWV3LTAxM18xXzEuanBn.jpg');
}

.content {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}